*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
html, body{
  font-family: 'Times New Roman', Times, serif;
  color: white;
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}
section {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  scroll-snap-align: start;
  z-index: -1000;
}
.homePage{
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.bg{
  width: 100%;
  height: 100%;
  opacity: 0.7;
  z-index: -1000;
}
nav{
  position: fixed;
  background: transparent;
  width: 100%;
  height: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
nav .logo{
  width: 5%;
  height: 80%;
  position: relative;
  top: 10%;
  left: 2%;
}
nav .logo img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
nav p{
  width: 15%;
  height: auto;
  position: relative;
  top: 50%;
  left: 10%;
  transform: translate(-50%,-50%);
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
}
.navlink{
  width: fit-content;
  height: 100%;
  position: relative;
  left: 25%;
}
.navlink ul{
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  list-style: none;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navlink  ul li{
  margin: 0.7rem 2rem;
  position: relative;
}
.navlink ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: 500;
  position: relative;
  display: inline-block;
  padding: 0.5rem 1rem;
  transform-origin: left;
  transition: all 0.3s ease;
  border-radius: 20px;
}
.navlink ul li a.active,
.navlink ul li a:hover {
  background: white;
  color: #1889bd;
  border-radius: 5px;
  border-radius: 20px;
  transform: scale(1.1);  
}
.homeContent{
  width: 100%;
  height: 90vh;
  position: absolute;
  top: 10vh;
}
.homeP{
  background-color: rgb(255, 255, 255);
  width: 40%;
  height: 30vh;
  position: relative;
  top: 60%;
  left: 1%;
  transform: translate(0%,-50%);
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}
.homeP p{
  color: black;
  font-size: 2rem;
  font-weight: 500;
  margin: 0 3rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-50%,-50%)
}
.homeP button{
  background-color: rgb(255, 255, 255);
  color: black;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0 3rem;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  top: 40%;
  left: 40%;
  transform: translate(-50%,-50%);
  border: 2px solid black;
  padding: 10px;
  transform: translate(-50%, -50%) scale(1); 
  transition: transform 0.5s, background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.homeP button:hover{
  transform: translate(-50%,-50%) scale(1.2);
  transition: 0.5s;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}
.imgContainer{
  background-color: transparent;
  position: relative;
  top: 10vh;
  left: 75%;
  transform: translate(-40%,-50%);
  width: 30%;
  height: 50vh;
  transform: translate(-50%, -50%) scale(1); /* Default scale */
  transition: transform 0.5s, background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.imgContainer img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}
.imgContainer:hover{
  transform: translate(-50%,-50%) scale(1.1);
  transition: 0.5s;
}
.about {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: x mandatory;
  height: 100vh;
  width: 100vw;
  scrollbar-width: none;
  -ms-overflow-style: none;
   -webkit-overflow-scrolling: touch;
}
.about::-webkit-scrollbar {
  display: none;
}
.about > div {
  flex: none;
  width: 100vw;
  height: 100vh;
  background: rgb(47, 47, 47);
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  scroll-snap-align: start;
  overflow: hidden;
  z-index: -100;
}
.founderDetail .img{
  width: 30vw;
  height: 40vh;
  position: relative;
  top: 50vh;
  left: 20%;
  transform: translate(-50%, -50%);
}
.img img{
  width: 100%;
  height: 100%;
  border-radius: 30%;
  object-position: center;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
  transform: scale(1); 
  transition: transform 0.5s, background-color 0.5s, color 0.5s, box-shadow 0.5s;
}
.img img:hover{
  transform: scale(1.2);
  transition: 0.5s;
  background-color: black;
  color: white;
  cursor: pointer;
  border: 2px solid white;
  box-shadow: 0px 50px 50px rgba(0, 0, 0, 0.5);
}
.founderDetail p{
  width: 40vw;
  max-height:80vh ;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-90%, -50%);
  padding: 1rem;
  border-radius: 1rem;
}
.aimBg{
 background: black;
 height: 160vh;
 width: 60%;
 transform: rotate(30deg);
 position: relative;
 top: -39vh;
 left: -10%;
 z-index: -100;
}
.aimVission h1{
color: white;
 transform: rotate(-30deg); 
 position: relative;
 left: 40%;
 top: 30vh;
 font-size: 3rem;
 text-transform: uppercase;
}
.aimVission p{
  width: 50%;
  color: white;
  transform: rotate(-30deg);
  position: relative;
  left: 40%;
  top: 70vh;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.aimMission{
  
  z-index: 100;
  position: relative;
  top: -33vh;
  left: 55vw;
  transform: rotate(-30deg);
  width: 50vw;
  height: 100vh;
}
.aimMission h1{
  color: white;
 
 position: relative;
 left: 40%;
 top: 80vh;
 font-size: 3rem;
 text-transform: uppercase;
}
.aimMission p{
  width: 50%;
  color: white;
  position: relative;
  left: 30%;
  top: 30vh;
  font-size: 1.5rem;
  font-weight: 500;
  text-align: center;
}
.keyD{
  background-color: transparent;
  width: 50vw;
  height: 100vh;
  z-index: -10;
}
.keyBg{
  background-color: #000000;
  width: 100vw;
  height: 150vh;
  position: relative;
  top: -160vh;
  left: 50vw;
  transform: rotate(150deg);
  z-index: -1000;
}
.keyD h1{
  color: white;
  position: relative;
  top: 20vh;
  left: 10vw;
  text-transform: uppercase;
  z-index: 1;
}
.key ul{
  position: relative;
  top: 30vh;
  left:10vw;
  z-index: 1;

}
.key ul li{
  color: white;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 1rem 0;
}
.keyBg .p1{
  transform: rotate(-150deg);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 45vw;
  position: relative;
  top: 80vh;
  left: 52vw;

  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;
}
.keyBg .p2{
  transform: rotate(-150deg);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  width: 30vw;
  position: relative;
  top: 20vh;
  left: 65vw;
  color: rgb(255, 255, 255);
  padding: 1rem;
  border-radius: 1rem;
  z-index: 1;

}
.keyBg p{
  z-index: 1000;
  align-items: center;
  text-align: center;
  }

@media screen and (max-width: 1200px) {

.navlink  ul li{
  margin: 0.7rem 1rem;
}
.navlink ul li a {
  font-size: 1rem;
}
 .homeP p{
  color: black;
  font-size: 1.5rem;
  font-weight: 500;
}
}