* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  color: rgb(255, 255, 255);
  background: #000000;
  overflow-x: hidden;
  font-family: "Times New Roman", Times, serif, sans-serif;
}
section {
  width: 100%;
  height: 100vh;
  padding: 0;
  margin: 0;
  z-index: -100;
}
#home {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
nav {
  position: fixed;
  width: 100%;
  height: 10vh;
  align-items: center;
  display: flex;
  z-index: 1000;
}
nav .logo img {
  width: 12%;
  position: relative;
  left: 10%;
  border-radius: 50%;
}
nav ul {
  display: flex;
  list-style: none;
  padding: 0%;
  margin: 0%;
  width: 50%;
  justify-content: space-around;
  position: relative;
  left: 13%;
}
nav ul li {
  padding: 3%;
  font-size: 1.2rem;
}
nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: color 0.3s, background-color 0.3s;
}
nav ul li a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 20px;
  padding: 0.5rem 2rem;
  display: inline-block;
}
/* Gallery styles */
.gallery-container {
  max-width: 90%;
  height: 90vh;
  position: relative;
  top: 5vh;
  left: 5%;
  overflow: scroll;
  white-space: nowrap;
  scrollbar-width: none;
  -ms-overflow-style: none;
  /* Hide scrollbar for IE and Edge */
}
.gallery {
  gap: 1rem;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.gallery img {
  width: 100%;
  max-width: 200px;
  height: 150px;
  object-fit: cover;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
  /* Added for performance */
}
.gallery img:hover {
  transform: scale(1.5);
}
/* Lightbox styles */
.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  z-index: 2000;
}
.lightbox img {
  max-width: 90%;
  max-height: 90%;
  object-fit: contain;
  border-radius: 5px;
}
.close-btn,
.prev-btn,
.next-btn {
  position: absolute;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  user-select: none;
}
.close-btn {
  top: 1rem;
  right: 1rem;
}
.prev-btn {
  left: 1rem;
}
.next-btn {
  right: 1rem;
}
.close-btn:hover,
.prev-btn:hover,
.next-btn:hover {
  color: #ffffff;
}
.content {
  width: 60%;
  height: 100vh;
}
#home .text {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-transform: uppercase;
  list-style: none;
  position: relative;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  height: 10vh;
}
#home p {
  font-size: 1.2rem;
  color: #ffffff;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 0 1rem;
  text-align: center;
  width: 80%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#home .pic {
  flex-grow: 1;
  height: 100vh;
}
#home .pic img {
  width: 40%;
  height: 70vh;
  position: absolute;
  top: 15vh;
  right: 1%;
  z-index: -100;
  border-radius: 10px;
}
#detail h1 {
  width: fit-content;
  position: relative;
  top: 50%;
  left: -4%;
  transform: translate(-50%, 50%);
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.detail {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  height: 100vh;
}
.detail .img img {
  width: 100%;
  height: 25vh;
  position: relative;
  top: 10vh;
  border-radius: 50%;
}

.detail .createDetail {
  color: #ffffff;
  position: relative;
  top: 10vh;
  left: 10%;
  width: 60%;
  height: 40vh;
}
.detail .createDetail p {
  font-size: 1.2rem;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}
.detail .aim {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 10px;
  color: #ffffff;
  width: 100%;
  height: 60vh;
  position: relative;
  top: 5vh;
  left: 5%;
}
.aim .idetail {
  width: 30%;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.aim .idetail h2 {
  position: relative;
  left: 50%;
  transform: translate(-50%, 50%);
}
.aim .idetail p {
  width: 90%;
  height: 80%;
  font-size: 1.2rem;
  text-align: center;
}
.aim .idetail ol {
  width: 90%;
  height: 80%;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 3px;
}
.aim button {
  height: 5vh;
  width: 50%;
  position: relative;
  top: -10vh;
  left: 20%;
  background: transparent;
}
.aim button a {
  width: 100%;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.5rem;
}
.aim button:hover {
  background: transparent;
}
.aim button:hover a {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 0.5rem;
  display: inline-block;
}
#gallery h1 {
  width: fit-content;
  position: relative;
  top: 50%;
  left: -4%;
  transform: translate(-50%, 50%);
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
#contact h1 {
  width: fit-content;
  position: relative;
  top: 50%;
  left: -6%;
  transform: translate(-50%, 50%);
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
#services h1 {
  width: 10%;
  position: relative;
  top: 50%;
  left: -4%;
  transform: translate(-50%, 50%);
  transform: rotate(90deg);
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
}
.serContent {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.serContent .proposal {
  width: 45%;
}
.serContent .work {
  width: 45%;
  flex-grow: 1;
}
.serContent h2 {
  font-size: 2rem;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  margin-top: 2rem;
  position: relative;
  top: 7vh;
}
.serContent p {
  font-size: 1.5rem;
  width: 100%;
  color: #ffffff;
  position: relative;
  top: 10vh;
  left: 3%;
}
.serContent .pdf {
  width: 100%;
  height: 70vh;
  position: relative;
  top: 15vh;
  left: 0%;
}
.serContent li {
  list-style: none;
}
.serContent a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
  display: block;
  width: 80%;
  color: #ffffff;
  margin: 8px;
  margin-bottom: 5%;
  padding: 7px;
  box-shadow: 0 2px 6px #ffffff;
}
.serContent a:hover {
  background: #818682;
  color: #fff;
  width: 80%;
  height: 100%;
}
#contact .uper {
  position: relative;
  top: 10vh;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
}
.getInTouch {
  width: 40%;
  height: 40vh;
  border-radius: 10px;
}
.getInTouch h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.getInTouch input,
.getInTouch textarea {
  width: 100%;
  padding: 0.75rem;
  margin: 0.5rem 0;
  border-radius: 5px;
  border: 1px solid #ffffff;
}
.getInTouch button {
  padding: 0.75rem 1.5rem;
  background-color: #ffffff;
  border: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 5px;
}
.socialMedia {
  flex-grow: 1;
  height: 40vh;
}
.socialMedia ul {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  width: 100%;
  height: 40vh;
}
.socialMedia h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.socialMedia ul li {
  list-style: none;
  padding: 4%;
  position: relative;
  top: 20%;
  left: 20%;
  transition: transform 0.6s ease-in-out;
}
.socialMedia ul li a {
  text-decoration: none;
  color: #ffffff;
  font-size: 40px;
  box-shadow: #ffffff 0px 0px 10px;
}
.socialMedia ul li:hover {
  transform: scale(2);
  transition: transform 0.2s ease-out;
}
.socialMedia ul li a:hover {
  color: #ffffff;
  box-shadow: #ffffff 0px 0px 20px;
  cursor: pointer;
  text-shadow: #ffffff 0px 0px 10px;
}
.contactContent hr {
  position: relative;
  top: 0vh;
  width: 100%;
  height: 1px;
  background: #ffffff;
}
.lower {
  width: 100%;
  height: 50vh;
}
.lower .lo {
  padding-top: 2%;
  margin-left: 1%;
  margin-right: 2%;
  width: 30%;
  height: 50vh;
  float: left;
}
.lower h2 {
  color: #ffffff;
  text-align: center;
  margin-bottom: 1rem;
}
.lower ul {
  width: 100%;
  height: 100%;
}
.lower ul li {
  list-style: none;
  padding: 1%;
  text-align: center;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
}
